@use 'abstracts/mixins' as *;
@use 'colors/color-matrix' as *;

:host {
  @include li-item;
}

.li-content {
  flex: 1 1 auto;
  min-width: 0;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li-end {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;

  .pill {
    font-size: 14px;
    margin: 0 3px;

    &:has(+ app-icon-button) {
      margin: 0 21px;
    }
  }

  app-icon-button:not(:first-child).participant-card__delete-btn {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      transform: translateY(-50%);
      width: 1px;
      height: 40px;
      background-color: $pl-li-divider-color;
    }
  }

  .participant-card__delete-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $icon-button-bg--primary;
    transition: all 0.3s;
    padding: 0;
    border-radius: 2px;

    span[nz-icon] {
      font-size: 24px;
      line-height: 1;
    }

    &:hover,
    &:focus-visible {
      color: $icon-button-bg--primary-hover;
    }

    &:focus-visible {
      outline: 1px solid $icon-button-outline;
    }

    &:active {
      color: $icon-button-bg--primary-active;
    }

    &:disabled {
      color: $icon-button-bg--disabled;
      cursor: not-allowed;
    }
  }
}
